
header {
  background-color: #f6f5f6;
}

header nav {
  font-size: 14px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  align-items: center;
  max-width: 800px;
  padding: 1em;
  margin: auto;
}


header ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: flex-end;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
}

header li {
  padding-left: 2em;
}

@media (max-width: 420px) {

header ul {
  flex-direction: column;
}

}